body {
    display: grid;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background-color: #000;
}

h1 {
    margin-top: 15px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: red;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 25px;
}

button {
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(241, 68, 15);
    height: 25px;
    width: 150px;
}

img {
    border: none;
    height: 500px;
    margin-top: -117px;
}

iframe {
    height: 600px;
    margin: 10px;
    border: none;
}

model-viewer {
    height: 600px;
    width: 300px;
    background-color: #000;
}

.contain {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    font-weight: bold;
}

.contain div {
    height: auto;
}

.bP {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    background-color: black;
    color: #fff;
}

.bS {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: black;
    color: #fff;
}

.white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    color: #000;
}

.white p {
    text-align: center;
}

.four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
}

.four div {
    border: #fff solid 2px;
    justify-content: center;
    padding-top: 30px;
}

footer {
    background-color: #000;
    height: 50px;
    color: #fff;
    font-size: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        line-height: 1.4;
        text-align: center;
    }
    h1 {
        writing-mode: horizontal-tb;
        text-align: center;
    }
    .bP {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    model-viewer {
        width: 50%;
        height: 450px;
        border: none;
        margin-left: 170px;
    }
    .white {
        width: 50%;
        display: inline;
    }
    .white p {
        margin-left: 50px;
        margin-top: -88px;
        text-align: end;
        margin-right: 10px;
    }
    iframe {
        margin: 55%;
        margin-top: -117px;
    }
}